@import './base.css';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
  margin: 0;
}

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
  overflow-x: hidden; /* Если контент может выходить за пределы по горизонтали */
}
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
